.nav-small-txt{
    font-size:13px!important;
}
.text-primary{
    color:#B82326!important;
}
.bg-primary{
    background-color: #B82326!important;
}
.active{
    color:#B82326;
    font-weight:bold;
}
.bg-secondary{
    background:#555555!important;
}
.grey-active{
    background:#555555!important;

}

.btn-primary{
    background-color: #B82326!important;
    border:none;
}
::-webkit-scrollbar {
    width: 8px; /* Increase the width for a thicker scrollbar */
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color for the track (the area behind the scrollbar) */
  }

  ::-webkit-scrollbar-thumb {
    background:#7A1619; /* Color for the thumb (the draggable scrolling handle) */
  }
  #msform {
	width: 100%;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;

	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;

	/*stacking fieldsets above each other*/
	position: relative;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/

/*buttons*/
#msform .action-button {
	width: 100px;
	background: #27AE60;
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px;
	margin: 10px 5px;
  text-decoration: none;
  font-size: 14px;
}

/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: black;
	text-transform: uppercase;
	font-size: 9px;
	width: 18%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: white;
	background: grey;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: red;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}
a{
    text-decoration:none;
    color:black;
}
/* Tabs */
.tabs {
    width: 100%;
    background-color: #B82326;

  }
  .track-table{
    font-size:12px;
  }
  ul#tabs-nav {
    list-style: none;
    margin: 0;
    padding: 5px;
    overflow: auto;
  }
  ul#tabs-nav li {
    float: left;
    font-weight: bold;
    margin-right: 2px;
    padding: 8px 10px;
    /*border: 1px solid #d5d5de;
    border-bottom: none;*/
    cursor: pointer;
  }

  #tabs-nav li a {
    text-decoration: none;
    color: #FFF;
  }
  .tab-content {
    padding: 10px;
    background-color: #FFF;
  }

  /* Just for CodePen styling - don't include if you copy paste */

  .specification{
    border: 1px solid #d5d5d5!important;
  }
  .specification small{
    display: block;
    text-align: start;
    padding:5px;
  }
/* Upload Component */
.upload__box {
    padding: 40px;
  }

  .upload__inputfile {
    width: .1px;
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .upload__btn {
    display: inline-block;
    font-weight: 600;
    color: #fff;
    text-align: center;
    min-width: 116px;
    padding: 5px;
    transition: all .3s ease;
    cursor: pointer;
    border: 2px solid #4045ba;
    background-color: #4045ba;
    border-radius: 10px;
    line-height: 26px;
    font-size: 14px;
  }

  .upload__btn:hover {
    background-color: unset;
    color: #4045ba;
  }

  .upload__btn-box {
    margin-bottom: 10px;
  }

  /* Image Display Component */
  .upload__img-wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
  }

  .upload__img-box {
    width: 100px;
    padding: 0 10px;
    margin-bottom: 12px;
    border:1px solid black;
    margin-right:10px;
  }

  .upload__img-close {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
    line-height: 24px;
    z-index: 1;
    cursor: pointer;
  }

  .upload__img-close:after {
    content: '\2716';
    font-size: 14px;
    color: white;
  }

  /* Image Background */
  .img-bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 100%;
  }
  @media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}
